body, html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    /* Pour que le texte soit visible sur le fond noir */
    background-color: #111;
    width: 100%;
    font-family: "Cutive Mono", monospace;
    color: white;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
}




/* Navigation */
ul {
    margin: 50px auto 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

li {
    margin: 10px;
}

.a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.a:hover:after {
    width: 100%;
    left: 0;
}











.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px; /* Pour limiter la largeur maximum */
    margin: auto;
    width: 39%;
    max-width: 1202px;
    margin: auto;
    margin-top: 7%;
}



.image {
    flex: 1; /* Prend tout l'espace disponible à droite */
    max-width: 36%; /* Pour que l'image ne dépasse pas de son conteneur */
    height: auto; /* Pour garder les proportions de l'image */
    text-align: right;
}




h1{
    text-align: center;
}



.bas{
  margin-top: 5%;
}


/* partie footer  */


.footer-section {
    background: #151414;
    padding: 50px 0;
    color: #fff;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .single-cta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .single-cta i {
    color: rgb(51, 125, 185);
    font-size: 30px;
    margin-right: 15px;
  }
  .cta-text h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    padding-top: 0px;
  }
  .footer-logo img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  .footer-social-icon {
    margin-bottom: 20px;
  }
  .footer-social-icon span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .footer-widget h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-links li {
    margin-bottom: 10px;
  }
  .footer-links li a {
    color: #878787;
    text-decoration: none;
  }
  .footer-links li a:hover {
    color: #ff5e14;
  }
   
  .log-a{
    text-align: center;
  }



    
@media (max-width: 768px) {
  ul {
      flex-direction: row;
      margin-top: 20px;
      flex-wrap: nowrap;
      overflow-x: auto;
  }
}

@media (max-width: 480px) {
  a {
      padding: 10px 15px;
  }

  video {
      width: 80%;
      margin-top: 10%;
      margin-left: 12%;
      margin-right: auto;
  }

  .cta-text h4 {
      font-size: 16px;
  }

  .cta-text span {
      font-size: 13px;
  }
  .footer-section{

    margin-top: 18%;
  }
  
  h1{
    font-size: 10px;
  }

  .bas-respon{
    margin-top: 10%;
  }
}
